<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <!-- Navbar -->
    <div class="hdk-top">
        <div class="hdk-bar hdk-theme-d2 hdk-left-align hdk-large">
            <a class="hdk-bar-item hdk-button hdk-hide-medium hdk-hide-large hdk-right hdk-padding-large hdk-hover-white hdk-large hdk-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a th:href="@{/empresas}" class="hdk-bar-item hdk-button hdk-padding-large hdk-theme-d4"><i class="fa fa-home hdk-margin-right"></i>Logo</a>
            <a th:href="@{/deparment/empresa/e822ceb4-73da-4c77-b8f8-5c1899923564}" class="hdk-bar-item hdk-button hdk-hide-small hdk-padding-large hdk-hover-white" title="News"><i class="fa-solid fa-diagram-project"></i></a>
            <a href="#" class="hdk-bar-item hdk-button hdk-hide-small hdk-padding-large hdk-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
            <a href="#" class="hdk-bar-item hdk-button hdk-hide-small hdk-padding-large hdk-hover-white" title="Estados"><i class="fa-solid fa-paper-plane"></i></i></i></a>

            <div class="hdk-dropdown-hover hdk-hide-small">
                <button class="hdk-button hdk-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="hdk-badge hdk-right hdk-small hdk-green">3</span></button>
                <div class="hdk-dropdown-content hdk-card-4 hdk-bar-block" style="width:300px">
                    <a href="#" class="hdk-bar-item hdk-button">One new friend request</a>
                    <a href="#" class="hdk-bar-item hdk-button">John Doe posted on your wall</a>
                    <a href="#" class="hdk-bar-item hdk-button">Jane likes your post</a>
                </div>
            </div>


            <a class="hdk-bar-item hdk-button hdk-hide-small hdk-padding-large hdk-hover-white" th:href="@{/empresas/new}">Add</a>

            <a href="#" class="hdk-bar-item hdk-button hdk-hide-small hdk-right hdk-padding-large hdk-hover-white" title="My Account">
                <img th:src="@{/images/avatar2.png}" class="hdk-circle" style="height:23px;width:23px" alt="Avatar">
            </a>

        </div>
    </div>
</header>